<div class="row">
    <div class="col-12">
        <h3>Compras realizadas</h3>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <p>Deudor: <strong>{{deudor}}</strong></p>
    </div>

    <div class="col-12">
        <p>Suma total cuotas: <strong>{{suma_total_cuotas.toString() | numeros}}</strong></p>
    </div>

    <div class="col-12" *ngIf="compras_realizadas.length > 0; else no_compras">
        <p>Detalle compras</p>

        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Compra</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Cantidad cuotas</th>
                    <th scope="col">Cuotas pagadas</th>
                    <th scope="col">Valor cuota</th>
                    <th scope="col">Última fecha de pago</th>
                    <th scope="col">Actualizar compra</th>
                    <th scope="col">Eliminar compra</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compra of compras_realizadas; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{compra.producto}}</td>
                    <td>{{compra.valor.toString() | numeros}}</td>

                    <td *ngIf="compra.cantidad_cuotas">{{compra.cantidad_cuotas}}</td>
                    <td *ngIf="!compra.cantidad_cuotas">-</td>

                    <td *ngIf="compra.cantidad_cuotas">{{compra.cuotas_pagadas}}</td>
                    <td *ngIf="!compra.cantidad_cuotas">-</td>

                    <td>{{compra.valor_cuota.toString() | numeros}}</td>

                    <td *ngIf="compra.ultima_fecha_pago">{{compra.ultima_fecha_pago}}</td>
                    <td *ngIf="!compra.ultima_fecha_pago">Sin pago registrado</td>

                    <td><mat-icon class="icons" (click)="actualizarCompraDeudor(compra.id)">edit</mat-icon></td>
                    <td><mat-icon class="icons" (click)="eliminarRelacionCompraDeudor(compra.id)">delete</mat-icon></td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #no_compras>
        <div class="col-12 text-center">
            <strong>No tiene compras</strong>
        </div>
    </ng-template>
</div>

<div class="row mt-3">
    <div class="col-12">
        <button class="btn btn-secondary" (click)="volver()">Volver</button>
    </div>
</div>