<div class="row">
    <div class="col-12">
        <h3>Compras realizadas</h3>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <p>Deudor: <strong>{{deudor}}</strong></p>
    </div>

    <div class="col-12" *ngIf="compras_realizadas.length > 0; else no_compras">
        <p>Compras</p>

        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">Compra</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Cantidad cuotas</th>
                    <th scope="col">Cuotas pagadas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compra of compras_realizadas">
                    <td>{{compra.producto}}</td>
                    <td>{{compra.valor.toString() | currency:'CLP'}}</td>
                    <td>{{compra.cantidad_cuotas}}</td>
                    <td>{{compra.cuotas_pagadas}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #no_compras>
        <div class="col-12 text-center">
            <strong>No tiene compras</strong>
        </div>
    </ng-template>
</div>

<div class="row mt-3">
    <div class="col-12">
        <button class="btn btn-secondary" (click)="volver()">Volver</button>
    </div>
</div>