<div class="row">
    <div class="col-12">
        <h3>Compras</h3>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <button type="button" class="btn btn-primary" (click)="nuevaCompra()">Nueva compra</button>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-secondary" (click)="volver()">Volver</button>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <table class="table text-center" *ngIf="compras.length > 0; else no_compras">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Valor producto</th>
                    <th scope="col">Cantidad cuotas</th>
                    <th scope="col">Cuotas pagadas</th>
                    <th scope="col">Valor cuota</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compra of compras; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{compra.producto}}</td>
                    <td>$ {{compra.valor.toString() | number}}</td>

                    <td *ngIf="compra.cantidad_cuotas">{{compra.cantidad_cuotas}}</td>
                    <td *ngIf="!compra.cantidad_cuotas">-</td>

                    <td *ngIf="compra.cuotas_pagadas">{{compra.cuotas_pagadas}}</td>
                    <td *ngIf="!compra.cuotas_pagadas">-</td>

                    <td>$ {{compra.valor_cuota.toString() | number}}</td>
                </tr>
            </tbody>
        </table>

        <ng-template #no_compras>No existen compras</ng-template>
        <ng-template #no_cuota>-</ng-template>
    </div>
</div>