<div class="row">
    <div class="col-12">
        <h3>Compras</h3>
    </div>

    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-primary" (click)="nuevaCompra()">Nueva compra</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table" *ngIf="compras.length > 0; else no_compras">
            <thead>
                <tr class="text-center">
                    <th scope="col">Producto</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Cantidad cuotas</th>
                    <th scope="col">Cuotas pagadas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compra of compras" class="text-center">
                    <td>{{compra.producto}}</td>
                    <td>{{compra.valor.toString() | currency:'CLP'}}</td>
                    <td>{{compra.cantidad_cuotas}}</td>
                    <td>{{compra.cuotas_pagadas}}</td>
                </tr>
            </tbody>
        </table>

        <ng-template #no_compras>No existen compras</ng-template>
    </div>
</div>