<div class="row">
    <div class="col-12">
        <h3>Compras</h3>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <!-- <button type="button" class="btn btn-primary" (click)="nuevaCompra()">Nueva compra</button> -->
        </div>
        <div class="col-6 text-end">
            <!-- <button class="btn btn-secondary" (click)="volver()">Volver</button> -->
        </div>
    </div>
</div>

<div class="row mt-3">

    <div class="col-6">
        <div class="border-table-deudas">
            <div class="row">
                <div class="col-12">
                    <p>Cencosud</p>
                </div>
                <div class="col-12">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">CENCOSUD</th>
                                <th scope="col">VALOR</th>
                                <th scope="col">CUOTAS</th>
                                <th scope="col">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="border-table-deudas">
            <div class="row">
                <div class="col-12">
                    <p>Otros</p>
                </div>

                <div class="col-12">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col">OTROS</th>
                                <th scope="col">VALOR</th>
                                <th scope="col">CUOTAS</th>
                                <th scope="col">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                                <td>A</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>