<div class="row">
    <div class="col-12">
        <h3>Deudores</h3>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <button type="button" class="btn btn-primary" (click)="nuevoDeudor()">Nuevo Deudor</button>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-secondary" (click)="volver()">Volver</button>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <table class="table text-center" *ngIf="deudores.length > 0; else no_deudores">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Deudor</th>
                    <th scope="col">Compras realizadas</th>
                    <th scope="col">Asociar compras</th>
                    <th scope="col">Eliminar deudor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deudor of deudores; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{deudor.deudor}}</td>
                    <td><mat-icon class="icons" (click)="verCompras(deudor.id)">remove_red_eye</mat-icon></td>
                    <td><mat-icon class="icons" (click)="asociarCompra(deudor.id)">edit</mat-icon></td>
                    <td><mat-icon class="icons" (click)="eliminarDeudor(deudor.id)">delete</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #no_deudores>No existen deudores</ng-template>
    </div>
</div>