<div class="row">
    <div class="col-12">
        <h3>Deudores</h3>
    </div>

    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-primary" (click)="nuevoDeudor()">Nuevo Deudor</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table" *ngIf="deudores.length > 0; else no_deudores">
            <thead>
                <tr class="text-center">
                    <th scope="col">Deudor</th>
                    <th scope="col">Compras</th>
                    <th scope="col">Asociar compras</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deudor of deudores" class="text-center">
                    <td>{{deudor.deudor}}</td>
                    <td>{{deudor.id_compra}}</td>
                    <td><button mat-fab type="button" class="btn btn-primary" (click)="asociarCompra(deudor.id)"><mat-icon>edit</mat-icon></button></td>
                    <td>
                        <button mat-fab type="button" class="btn btn-danger"
                            (click)="eliminarDeudor(deudor.id)"><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <ng-template #no_deudores>No existen deudores</ng-template>
    </div>
</div>